#result {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #8eff8e;
    color: green;
}

.error {
    background-color: #ff8e8e;
    color: red;
}